<nav>
    <a href="" class="nav__logo">
      MyTravels<span>.</span>
    </a>
    <ul class="nav__links">
      <li class="link">
        <a href="#home">Home</a>
      </li>
      <li class="link">
        <a href="#places">Places</a>
      </li>
      <li class="link">
        <a href="#routes">Routes</a>
      </li>
      <li class="link">
        <a href="#gallery">Gallery</a>
      </li>      
    </ul>
    <button class="btn">Start Plan</button>
</nav>

<style>
  nav {
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;  
    flex-wrap: wrap;  
  }
  .nav__logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    cursor: pointer;
  }
  .nav__logo span {
    color: var(--primary-color);
  }
  .nav__links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }
  .link a {
    padding: 0 1rem;
    transition: .2s;
    color: var(--text-dark);
  }
  .link a:hover {
    color: var(--primary-color);
  }

  @media (width < 900px) {
    .nav__links {
      display: none;
    }
  }
</style>